---
layout: default
---

{% assign lang = site.data.languages[site.language] %}
{% include post.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var gitment = new Gitment({
	id: '<%= page.date %>'
    owner: 'spidermana',
    repo: 'spidermana.github.io',
    oauth: {
        client_id: '8d101f7d031faa4b7619',
        client_secret: '8f7728238d34fd57adedf054e69c414f3c2ff44e',
    },
});
gitment.render('gitmentContainer');
</script>
